/padraoobserver/nbproject/private/
/padraoobserver/build/
/AtividadeObserver/nbproject/private/
/AtividadeObserver/build/
/FactoryMethod/nbproject/private/
/FactoryMethod/build/
/atividadeLucasMendes/nbproject/private/
/smartphone/nbproject/private/
/smartphone/build/
/abstractFactoryDao/nbproject/private/
/abstractFactoryDao/build/